body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

h1.carousel-home-title {
	font-size: 4.9em;
}

h3.carousel-home-title {
	font-size: 3.6em;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fcb724;
}

.brand-border-left {
	border-left: 3px solid #FFF;
}

.btn-group .diagonal{
    margin-left: 50%;
    width: 0px;
    border-width: 46px 30px 0 0;
    border-style: solid;
    border-color: #008066 transparent transparent transparent;
}

.carousel .btn-group {
    background-color: #fcb724;
    height: 46px;
}

.btn-group .btn, .btn {
	border-radius: 0;
}

.btn-group .btn-success {
	background-color: #008066;
	color: #FCB724;
	border-color: #008066;
	text-transform: uppercase

}

.btn-group .btn-warning {
	color: #008066;
	background-color: #FCB724;
	border-color: #FCB724;
	text-transform: uppercase;
}

.btn-success,
.btn-success:hover {
	background-color: #008066;
	color: #FCB724;
	text-transform: uppercase;
}

.btn-warning,
.btn-warning:hover {
	color: #008066;
	background-color: #FCB724;
	text-transform: uppercase;
}

.carousel-indicators li {
    width: 18px;
    height: 18px;
}


.carousel-indicators .active {
    width: 20px;
    height: 20px;
}

.content-inner {
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-control {
	border-radius: 0;
}

.footer {
	margin-top: 10px;
	background: #008066;
	padding: 15px;
	color: #fff;
}

.login-form {
	background-color: #fcb724;
	display: block;
	max-width: 813px;
	margin: 0 auto;
	color: #008066;
}


.login-form label {
	text-align: left;
	text-transform:  uppercase;	
	font-weight: normal;
}

.navbar-default {
    background-color: rgba(0, 128, 102, 0.6);
    color: #fff;
    border:  none;
    border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
    font-weight: 500;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:visited {
    color: #FFFFFF;
    font-weight: 500;
}

.navbar-brand {
    float: left;
    height: 100%;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-toggle {
    margin-top: 65px;
    margin-right: 30px;
    margin-bottom: 8px;
    padding: 9px 10px;
    border: none;
}

.navbar-toggle:hover {
	background-colo: rgba(255,255,255,0.0);
}

.register-form {
	background-color: #008066;
	display: block;
	max-width: 813px;
	margin: 0 auto;
	color:  #fcb724;
}

.register-form label {
	text-align: left;
	text-transform:  uppercase;		
	font-weight: normal;
}

.score {
	font-size: 3.5em;
}

.scores-body {
	margin-top: 35px;
}

.scores-body-bottom {
	border-top: 1px solid #333;
}

.second-brand {
    float: left;
    height: 100%;
    padding: 60px 0px;
    font-size: 18px;
    line-height: 20px;
}

.scores-header {
	background-color: #FCB724;
	padding: 3px;
	color: #008066;
	font-weight: 500;
}

.score-box {
	padding: 15px;
	margin: 0 auto;

	display: -o-box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -o-flex;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	justify-content: stretch;
	
	align-items: center;
  	justify-content: center;
}

.score-box-item-1 {
	flex: 1 auto;
	padding: 5px;
}

.score-box-item-2 {
	flex: 2 auto;
	padding: 5px;
	vertical-align: middle;
}

.score-box-item-3 {
    flex: 3 auto;
   	padding: 5px;
   	vertical-align: middle;
}

.scores-boy .col-md-2.team-intials {
    margin-top: 35px !important;
    margin-left: -25px !important;
    margin-right: 25px !important;
}

.score-item {
	margin-left: 10px;
	border-right: 1px solid #333;
}

.score-item:last-child {
	border-right: none;
}


.social-buttons {
    max-width: 50px;
}


.social-buttons > a {
    margin-top: -15px;
}

.social-buttons img {
	width: 50px;
}

.team-logo img {
	width: 65px;
}


@media (min-width: 1355px) {
	.btn-group .btn-success {
		padding: 10px 145px;
	}

	.btn-group .btn-warning {
		padding: 10px 145px;
	}
}

@media (max-width: 1223px) and (min-width: 992px) {
	.login-form,
	.register-form {
		max-width: 733px;
	}
}

@media (max-width: 1354px) and (min-width: 992px) {
	.btn-group .btn-success {
		padding: 10px 125px;
	}

	.btn-group .btn-warning {
		padding: 10px 125px;
	}
}

@media (max-width: 995px) {
	.social-buttons {
		display: none;
	}
}

@media (min-width: 991px) {
	.content-inner {
		max-width: 1280px;
	}
}

@media (min-width: 768px) {
	.navbar-right {
	    margin-top: 7%;
	}
}

@media screen and (min-width: 768px) {
	.carousel-caption {
	    padding-bottom: 140px;
	}

	.carousel-indicators {
	    bottom: 0px;
	}
}