body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: rgba(33,31,32,1);
}

h1.carousel-home-title {
	font-size: 4em;
}

h3.carousel-home-title {
	font-size: 3em;
}

.action-buttons {
	max-width: 800px;
	margin: 25px auto;
}

.alert-danger {
	border: 1px solid #C43030;
	background-color: rgba(255, 190, 190, 0.8);
	font-weight: 700;
}

.brand-border-left {
	border-left: 3px solid #FFF;
}

.btn-group .diagonal-success {
    margin-left: 50%;
    width: 0px;
    border-width: 42px 15px 0 0;
    border-style: solid;
    border-color: #008066 transparent transparent transparent;
}

.btn-group .diagonal-warning {
    margin-left: 50%;
    width: 0px;
    border-width: 0 0 42px 15px;
    border-style: solid;
    border-color: transparent transparent #fcb724 transparent;
}

.action-buttons .btn-group {
    background-color: #fcb724;
    height: 42px;
}

.btn-group .btn, .btn {
	border-radius: 0;
}

.btn-group.justified.sign-buttons {
    width: 100%;
}

.btn-group .btn-success {
	background-color: #008066;
	color: #FCB724;
	border-color: #008066;
	text-transform: uppercase;
}

.btn-group .btn-warning {
	color: #008066;
	background-color: #FCB724;
	border-color: #FCB724;
	text-transform: uppercase;
}

.btn-success,
.btn-success:hover {
	background-color: #008066;
	color: #FCB724;
	text-transform: uppercase;
}

.btn-warning,
.btn-warning:hover {
	color: #008066;
	background-color: #FCB724;
	text-transform: uppercase;
}

.box-items {
	margin: 0 auto;
}

.box-items > .row > .col-md-12.items > .col-md-4 {
	padding-left: 0px;
	padding-right: 0px;
}

.carousel-indicators {
	z-index: 1005;
}

.carousel-indicators li {
    width: 18px;
    height: 18px;
}


.carousel-indicators .active {
    width: 20px;
    height: 20px;
}

.carousel-caption {
    right: 5%;
    left: 5%;
}

.carousel-control.right, .carousel-control.left {
	background-image:none;
}

.container-full.profile-section {
	padding: 50px 0;
	background-color: rgba(33,31,32,1);
	position: relative;
}

.content-inner {
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-control {
	border-radius: 0;
}

.form-error {
	color: #ff0000;
	text-shadow: 0px 0px 1px #fff;
	font-weight: 700;
}

.footer {
	background: #008066;
	padding: 15px;
	color: #fff;
}

.hide {
	display: none;
}

.login-form {
	background-color: #fcb724;
	display: block;
	width: 100%;
	margin: 0 auto;
	color: #008066;
	padding-top: 15px;
}

.login-form label {
	text-align: left;
	text-transform:  uppercase;
	font-weight: normal;
}

.nav {
	padding-left: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fcb724;
}

.navbar-default {
    background-color: rgba(0, 128, 102, 0.6);
    color: #fff;
    border:  none;
    border-radius: 0;
    margin-bottom: 0;
    /*box-sizing: border-box;*/
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
    font-weight: 500;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:visited {
    color: #FFFFFF;
    font-weight: 500;
}

.navbar-brand {
    float: left;
    height: 100%;
    padding: 0px 0px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand img {
	width: 65px;
}

.navbar-right {
	margin-top: 4%;
}

.navbar-toggle {
    margin: 40px 20px 8px -30px;
    padding: 18px 20px;
    border: none;
}

.navbar-default .navbar-toggle:hover {
    background-color: rgba(252,183,36,1);
}
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #008066;
}

.overlay-slider {
	background: rgba(102,102,102,0.1);
	background: -moz-linear-gradient(top, rgba(33,31,32,0.1) 0%, rgba(33,31,32,1) 60%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,31,32,0.1)), color-stop(60%, rgba(33,31,32,1)));
    background: -webkit-linear-gradient(top, rgba(33,31,32,0.1) 0%, rgba(33,31,32,1) 60%);
    background: -o-linear-gradient(top, rgba(33,31,32,0.1) 0%, rgba(33,31,32,1) 60%);
    background: -ms-linear-gradient(top, rgba(33,31,32,0.1) 0%, rgba(33,31,32,1) 60%);
    background: linear-gradient(to bottom, rgba(33,31,32,0.1) 0%, rgba(33,31,32,1) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#131313', GradientType=0 );
	color: rgb(255,255,255);
	/*height: 100%;*/
	width: 100%;
	position: absolute;
	top: 10px;
    right: 0%;
	bottom: 0px;
    left: 0%;
    z-index: 10;
    padding-top: 120px;
    padding-bottom: 80px;
	z-index: 1003;
}

.overlay-promo {
	background: rgba(102,102,102,0.1);
    background: -moz-linear-gradient(top, rgba(33,31,32,0.1) 0%, rgba(33,31,32,0.2) 25%, rgba(33,31,32,1) 90%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,31,32,0.1)), color-stop(25%, rgba(33,31,32,0.5)), color-stop(90%, rgba(33,31,32,1)));
    background: -webkit-linear-gradient(top, rgba(33,31,32,0.1) 0%, rgba(33,31,32,0.2) 25%, rgba(33,31,32,1) 90%);
    background: -o-linear-gradient(top, rgba(33,31,32,0.1) 0%, rgba(33,31,32,0.2) 25%, rgba(33,31,32,1) 90%);
    background: -ms-linear-gradient(top, rgba(33,31,32,0.1) 0%, rgba(33,31,32,0.2) 25%, rgba(33,31,32,1) 90%);
    background: linear-gradient(to bottom, rgba(33,31,32,0.1) 0%, rgba(33,31,32,0.2) 25%, rgba(33,31,32,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#131313', GradientType=0 );
	color: rgb(255,255,255);
	height: 100%;
	position: relative;
	padding-top: 180px;
	padding-bottom: 50px;
	z-index: 1003;
}

.overlay-promo h1.promo-home-title,
.overlay-promo h3.promo-home-title,
.overlay-promo h1.profile-home-title {
	text-align: center;
}

.overlay-promo h1.profile-home-title {
	font-size: 4.2em;
	margin: 35px;
}

.panel {
	border-radius: 0px;
	border: none ;
	background: transparent;
}

.panel-heading {
    border-bottom: 1px solid #fcb724;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #fcb724;
    color: #008066;
    font-weight: 700;
    text-transform: uppercase;
}

.panel-heading > .btn.btn-success.pull-right {
    position: relative;
    top: -10px;
    right: -15px;
    padding: 11px 15px 10px 15px;
    font-weight: 700;
}

.panel-body {
	background: transparent;
	color: #636363;
	font-size: 1.1em;
}


.profile-name,
.profile-lastname,
.profile-city {
	color: #fcb724;
	font-size: 2em;
}

.profile .profile-image {
    margin-top: 0px;
    margin-bottom: 25px;
}
.profile-social-buttons img {
	width: 45px;
}

.progress {
    height: 30px;
    background-color: #636363;
    border-radius: 0;
}

.progress-bar {
    font-size: 1em;
    line-height: 30px;
    color: #008066;
}


.profile-image {
	margin-top: 50px;
}

.promo-image {
	background-image: url(../images/santos-team-large.jpg);
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	-webkit-background-size: cover;
  	background-position: top center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	margin: 0;
}


.register-form {
	background-color: #008066;
	display: block;
	width: 100%;
	margin: 0 auto;
	color:  #fcb724;
	padding-top: 15px;
}

.register-form label {
	text-align: left;
	text-transform:  uppercase;
	font-weight: normal;
}

.score {
	font-size: 2.5em;
}

.scores-body {
	padding: 15px 0;
	background-color: #fff;
	box-sizing: content-box;
}

.scores-body-bottom, .scores-body-top {
	/*border-top: 1px solid #ccc;*/
	padding: 0 15px;
}

.second-brand {
    float: left;
    height: 100%;
    padding: 25px 0px;
    font-size: 18px;
    line-height: 20px;
}

.scores-header {
	background-color: #FCB724;
	padding: 3px;
	color: #008066;
	font-weight: 500;
	box-sizing: content-box;
}

.score-box, .box {
	padding: 0px;
	margin: 0 auto;

	display: -o-box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -o-flex;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	justify-content: space-around;

	align-items: center;
  	justify-content: center;

  	box-sizing: content-box;

}

.score-box.bottom {
	border-top: 1px solid #ccc;
}

/*.box-item-1 img,
.box-item-2 img,
.box-item-3 img {
	height: 500px;
}*/

.score-box-item-1, .box-item-1 {
	padding: 0px;

	flex: 1 auto;

	vertical-align: middle;
	align-items: center;
}

.score-box-item-2, .box-item-2 {
	flex: 2 auto;
	padding: 0px;
	vertical-align: middle;
	align-items: center;
}

.score-box-item-3, .box-item-3 {
    flex: 1 auto;
   	padding: 0px;
   	vertical-align: middle;
   	align-items: center;

}

.score-item {
	margin-left: 0;
	border-right: 1px solid #ccc;
}

.score-item:last-child {
	border-right: none;
}


.social-buttons {
    max-width: 50px;
}


.social-buttons > a {
    margin-top: -15px;
}

.social-buttons img {
	width: 50px;
}

.social-login {
	border-left: 2px solid #fcb724;
	margin-top: 50px;
}

.social-login img {
	text-align: center;
	max-width: 40px;
}

.team-logo img {
	width: 45px;
}


@media (min-width: 1280px) {
	.btn-group .btn-success {
		padding: 10px 145px;
	}

	.btn-group .btn-warning {
		padding: 10px 145px;
	}
	.overlay {
		padding-top: 50px;
	}
}

@media (min-width: 993px) and (max-width: 1250px) {
	.btn-group .btn-success {
		padding: 10px 145px;
	}

	.btn-group .btn-warning {
		padding: 10px 145px;
	}
}

@media (max-width: 993px) {
	.social-buttons {
		display: none;
	}
	.social-login {
		border-left: none;
		padding-bottom: 20px;
	}
}

@media (min-width: 991px) {
	.content-inner {
		max-width: 1280px;
	}

}

@media(min-width: 769px) and (max-width: 992px) {
	.navbar-right {
		margin-top: 5%;
	}

	.btn-group .btn-success {
		    padding: 10px 120px;
	}

	.btn-group .btn-warning {
		    padding: 10px 120px;
	}
}

@media (min-width: 499px) and (max-width: 801px) {
	.box-items > .row > .col-md-12.items > .col-md-4 {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media screen and (min-width: 768px) {
	.carousel-caption {
		right: 5%;
		left: 5%;
    	/*padding-bottom: 30px;*/
	}
}

@media (min-width: 599px) and (max-width: 767px) {

	.btn-group .btn-success {
		padding: 10px 85px;
	}

	.btn-group .btn-warning {
		padding: 10px 85px;
	}
}

@media (width: 768px) {
	.btn-group .btn-success {
		padding: 10px 125px;
	}

	.btn-group .btn-warning {
		padding: 10px 125px;
	}
}

@media screen and (min-width: 768px) {
	.carousel-caption {
	    padding-bottom: 20px;
	}

	.carousel-indicators {
	    bottom: 0px;
	}
}

@media (min-width: 590px) and (max-width: 600px) {
	.btn-group .btn-success {
		padding: 10px 85px;
	}

	.btn-group .btn-warning {
		padding: 10px 85px;
	}
}

@media (min-width: 322px) and (max-width: 600px) {
	h1.carousel-home-title {
		font-size: 2.9em;
	}

	h3.carousel-home-title {
		font-size: 2.6em;
	}
}

@media (min-width: 509px) and (max-width: 589px) {
	.btn-group .btn-success {
		padding: 10px 75px;
	}

	.btn-group .btn-warning {
		padding: 10px 75px;
	}
}

@media (min-width: 479px) and (max-width: 508px) {
	.btn-group .btn-success {
		padding: 10px 55px;
	}

	.btn-group .btn-warning {
		padding: 10px 55px;
	}
}

@media (min-width: 322px) and (max-width: 478px) {
	.btn-group .btn-success {
		padding: 10px 45px;
	}

	.btn-group .btn-warning {
		padding: 10px 45px;
	}
}

@media (min-width: 300px) and (max-width: 321px) {
	h1.carousel-home-title {
		font-size: 1.9em;
	}

	h3.carousel-home-title {
		font-size: 1.6em;
	}
	.btn-group .btn-success {
    	padding: 10px 10px;
	}
	.btn-group .btn-warning {
		padding: 10px 10px;
	}

	.login-form .col-md-6,
	.register-form .col-md-8,
	.register-form .col-md-8 > .col-md-6 {
		padding-left: 0px;
		padding-right: 0px;
	}

	.box-items > .row > .col-md-12.items,
	.box-items > .row > .col-md-12.items > .col-md-4 {
		padding-left: 0px;
		padding-right: 0px;
	}

	.carousel-inner {
		min-height: 420px;
	}

	.overlay-slider {
	    top: 230px;
	}
	.box-item-1 img,
	.box-item-2 img,
	.box-item-3 img {
		height: 320px;
	}

}
