body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #008066;
}

h1.carousel-home-title {
	font-size: 4em;
}

h3.carousel-home-title {
	font-size: 3em;
}

.action-buttons {
	max-width: 800px;
	margin: 25px auto;
}

.brand-border-left {
	border-left: 3px solid #FFF;
}

.btn-group .diagonal-success {
    margin-left: 50%;
    width: 0px;
    border-width: 42px 15px 0 0;
    border-style: solid;
    border-color: #008066 transparent transparent transparent;
}

.btn-group .diagonal-warning {
    margin-left: 50%;
    width: 0px;
    border-width: 0 0 42px 15px;
    border-style: solid;
    border-color: transparent transparent #fcb724 transparent;
}

.action-buttons .btn-group {
    background-color: #fcb724;
    height: 42px;
}

.btn-group .btn, .btn {
	border-radius: 0;
}

.btn-group.justified.sign-buttons {
    width: 100%;
}

.btn-group .btn-success {
	background-color: #008066;
	color: #FCB724;
	border-color: #008066;
	text-transform: uppercase;
}

.btn-group .btn-warning {
	color: #008066;
	background-color: #FCB724;
	border-color: #FCB724;
	text-transform: uppercase;
}

.btn-success,
.btn-success:hover {
	background-color: #008066;
	color: #FCB724;
	text-transform: uppercase;
}

.btn-warning,
.btn-warning:hover {
	color: #008066;
	background-color: #FCB724;
	text-transform: uppercase;
}



.carousel-indicators li {
    width: 18px;
    height: 18px;
}


.carousel-indicators .active {
    width: 20px;
    height: 20px;
}

.content-inner {
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-control {
	border-radius: 0;
}

.footer {
	margin-top: 10px;
	background: #008066;
	padding: 15px;
	color: #fff;
}



.overlay-slider {
	background: rgba(102,102,102,0.1);
    background: -moz-linear-gradient(top, rgba(3,3,3,0.5) 0%, rgba(3,3,3,1) 20%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(3,3,3,0.5)), color-stop(20%, rgba(3,3,3,1)));
    background: -webkit-linear-gradient(top, rgba(3,3,3,0.5) 0%, rgba(3,3,3,1) 20%);
    background: -o-linear-gradient(top, rgba(3,3,3,0.5) 0%, rgba(3,3,3,1) 20%);
    background: -ms-linear-gradient(top, rgba(3,3,3,0.5) 0%, rgba(3,3,3,1) 20%);
    background: linear-gradient(to bottom, rgba(3,3,3,0.5) 0%, rgba(3,3,3,1) 20%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#131313', GradientType=0 );
	color: rgb(255,255,255);
	height: 100%;
	position: relative;
	padding-top: 0px;
	z-index: 1003;
}

.overlay-promo {
	background: rgba(102,102,102,0.1);
    background: -moz-linear-gradient(top, rgba(3,3,3,0.1) 0%, rgba(3,3,3,0.2) 50%, rgba(3,3,3,1) 75%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(3,3,3,0.1)), color-stop(50%, rgba(3,3,3,0.5)), color-stop(75%, rgba(3,3,3,1)));
    background: -webkit-linear-gradient(top, rgba(3,3,3,0.1) 0%, rgba(3,3,3,0.2) 50%, rgba(3,3,3,1) 75%);
    background: -o-linear-gradient(top, rgba(3,3,3,0.1) 0%, rgba(3,3,3,0.2) 50%, rgba(3,3,3,1) 75%);
    background: -ms-linear-gradient(top, rgba(3,3,3,0.1) 0%, rgba(3,3,3,0.2) 50%, rgba(3,3,3,1) 75%);
    background: linear-gradient(to bottom, rgba(3,3,3,0.1) 0%, rgba(3,3,3,0.2) 50%, rgba(3,3,3,1) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#131313', GradientType=0 );
	color: rgb(255,255,255);
	height: 100%;
	position: relative;
	padding-top: 190px;
	z-index: 1003;
}

.overlay-promo h1.promo-home-title, .overlay-promo h3.promo-home-title {
	text-align: center;
}

.login-form {
	background-color: #fcb724;
	display: block;
	width: 100%;
	margin: 0 auto;
	color: #008066;
}


.promo-image {
	background-image: url(../images/santos-team-large.jpg);
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	-webkit-background-size: cover;
  	background-position: top center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	margin: 0;
}

.login-form label {
	text-align: left;
	text-transform:  uppercase;	
	font-weight: normal;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fcb724;
}

.navbar-default {
    background-color: rgba(0, 128, 102, 0.6);
    color: #fff;
    border:  none;
    border-radius: 0;
    margin-bottom: 0;
    /*box-sizing: border-box;*/
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
    font-weight: 500;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:visited {
    color: #FFFFFF;
    font-weight: 500;
}

.navbar-brand {
    float: left;
    height: 100%;
    padding: 0px 0px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand img {
	width: 65px;
}

.navbar-right {
	margin-top: 4%;
}

.navbar-toggle {
    margin: 65px 0 8px -30px;
    padding: 9px 10px;
    border: none;
}

.navbar-toggle:hover {
	background-colo: rgba(255,255,255,0.0);
}

.register-form {
	background-color: #008066;
	display: block;
	width: 100%;
	margin: 0 auto;
	color:  #fcb724;
}

.register-form label {
	text-align: left;
	text-transform:  uppercase;		
	font-weight: normal;
}

.score {
	font-size: 3.5em;
}

.scores-body {
	padding-top: 15px;
	background-color: #fff;
	box-sizing: content-box;
}

.scores-body-bottom {
	border-top: 1px solid #ccc;
}

.second-brand {
    float: left;
    height: 100%;
    padding: 25px 0px;
    font-size: 18px;
    line-height: 20px;
}

.scores-header {
	background-color: #FCB724;
	padding: 3px;
	color: #008066;
	font-weight: 500;
	box-sizing: content-box;
}

.score-box {
	padding: 15px;
	margin: 0 auto;

	display: -o-box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -o-flex;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	justify-content: stretch;
	
	align-items: center;
  	justify-content: center;

  	box-sizing: content-box;
}

.score-box-item-1 {
	flex: 1 auto;
	padding: 5px;
}

.score-box-item-2 {
	flex: 2 auto;
	padding: 5px;
	vertical-align: middle;
}

.score-box-item-3 {
    flex: 3 auto;
   	padding: 5px;
   	vertical-align: middle;
}

.score-item {
	margin-left: 10px;
	border-right: 1px solid #ccc;
}

.score-item:last-child {
	border-right: none;
}


.social-buttons {
    max-width: 50px;
}


.social-buttons > a {
    margin-top: -15px;
}

.social-buttons img {
	width: 50px;
}

.team-logo img {
	width: 45px;
}


@media (min-width: 1280px) {
	.btn-group .btn-success {
		padding: 10px 145px;
	}

	.btn-group .btn-warning {
		padding: 10px 145px;
	}
	.overlay {
		padding-top: 50px;
	}
}

@media (min-width: 993px) and (max-width: 1250px) {
	.btn-group .btn-success {
		padding: 10px 105px;
	}

	.btn-group .btn-warning {
		padding: 10px 105px;
	}
}

@media (max-width: 993px) {
	.social-buttons {
		display: none;
	}
}

@media (min-width: 991px) {
	.content-inner {
		max-width: 1280px;
	}

}

@media(min-width: 769px) and (max-width: 992px) {
	.navbar-right {
		margin-top: 5%;
	}

	.btn-group .btn-success {
		    padding: 10px 70px;
	}

	.btn-group .btn-warning {
		    padding: 10px 70px;
	}	
}

@media (min-width: 599px) and (max-width: 768px) {

	.btn-group .btn-success {
		padding: 10px 65px;
	}

	.btn-group .btn-warning {
		padding: 10px 65px;
	}
	.overlay {
	    padding-top: 390px;
	}
}

@media (min-width: 768px) {

}

@media screen and (min-width: 768px) {
	.carousel-caption {
	    padding-bottom: 20px;
	}

	.carousel-indicators {
	    bottom: 0px;
	}
}

@media (min-width: 322px) and (max-width: 600px) {
	h1.carousel-home-title {
		font-size: 1.9em;
	}

	h3.carousel-home-title {
		font-size: 1.6em;
	}

	.btn-group .btn-success {
		padding: 10px 45px;
	}

	.btn-group .btn-warning {
		padding: 10px 45px;
	}
	.overlay {
	    padding-top: 100px;
	}
}

@media (min-width: 300px) and (max-width: 321px) {
	h1.carousel-home-title {
		font-size: 1.9em;
	}

	h3.carousel-home-title {
		font-size: 1.6em;
	}
	.btn-group .btn-success {
    	padding: 10px 10px;
	}
	.btn-group .btn-warning {
		padding: 10px 10px;
	}
	.overlay {
	    padding-top: 190px;
	}
}